.footer-container {
  width: 100%;
  padding: 0rem 2rem 0rem 2rem;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-color: $color-midnight;

  .footer-photo-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-image:
        linear-gradient(to bottom, $color-ivory 0%, rgba($color-ivory, 0) 20%), // 上方漸層
        linear-gradient( rgba(255, 180, 100, 0.08)); // 暖色疊層
      pointer-events: none; // 不阻擋點擊
    }

    img {
      width: auto;
      height: 100%; // 或 auto
      object-fit: cover; // 裁切填滿
      display: block;
    }
  }


  .footer-section {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    background-color: $color-burgundy;

    h3,
    p {
      color: $color-ivory;
    }
  }
}